saves/*
logs/*
playerdata/*

journeymap/*
local/*
armourers_workshop/fast-cache/*
tv-cache/*
global-skin-database/*

crash-reports/*
usercache.json
usernamecache.json
minecraftinstance.json

.mixin.out/*

icon.png
crafttweaker.log
millenaire.log
minecraftinstance.json
BotaniaVars.dat
journeymapdefaults.firstrun
llibrary/*
asm/*

config/splash.properties

mods/millenaire/Colour Sheet.png
config/warpdrive/WarpDrive.xsd
config/codechicken/supporters.json
config/buildcraft/detailed.properties

.curseclient
*.kate-swp
*.swp
