saves/*
logs/*
journeymap/*
local/*
armourers_workshop/fast-cache/*
tv-cache/*
icon.png
.mixin.out/*
.curseclient
crafttweaker.log
millenaire.log
minecraftinstance.json
journeymap/*
usercache.json
usernamecache.json
BotaniaVars.dat
journeymapdefaults.firstrun
