
#Player instance data
saves/*
logs/*
playerdata/*
journeymap/*
local/*
crash-reports/*
usercache.json
usernamecache.json
instance.json
servers.dat
servers.dat_old
patchouli_data.json
options.txt
knownkeys.txt
dragon-survival/*
screenshots/*
blueprints/*
emi.json

#Caches
modernfix/*
lightspeed-cache/*
Distant_Horizons_server_data/

#Logs
crafttweaker.log

#Generate first run
icon.png
journeymapdefaults.firstrun

#Configs
config/splash.properties
config/jei/*
config/fastload.properties

#Misc
*.kate-swp
*.swp
.qmenu_opened.marker

